<div id="navbar">
    <div class="container"> 
        <div class="row justify-content-between">
            <div class="col-1"> 
                <img class="img-fluid" role="button" onclick="location.href='index.html';" src="img/logo_blue.png" alt="[img: logo]">
            </div>

            <div class="col-auto text-uppercase">
                <a href="index.html">Главная</a> 
                <a href="courses.html">Курсы</a>
                <a href="http://geekcamp.ru">Лагерь</a>
                <a href="faq.html">Вопросы</a>
                <a href="events.html">События</a>
                <a href="contacts.html">Контакты</a>
            </div>
        </div>
    </div>
</div> 
