<footer style="position: relative;  background-color: #000; color: #fff;">
    <div class="container py-3"> 
        <div class="row text-center justify-content-center"> 
            <div class="col-lg-3 col-sm-6 col-8 px-5"> 
                <img src="img/logo_blue.png" alt="[img: logo]" width="50%"/><br>
                
                <div class="row my-3 no-gutters justify-content-center"> 
                    <div class="col-3 px-1">
                        <img role="button" class="img-fluid" src="img/social_vk.png" alt="[img: vk]" onclick="window.location.href='https://vk.com/youngeek';"/>
                    </div>
                    <div class="col-3 px-1">
                        <img role="button" class="img-fluid" src="img/social_fb.png" alt="[img: facebook]" onclick="window.location.href='https://www.facebook.com/Youngeek-883593941782174/';"/>
                    </div>
                    <div class="col-3 px-1">
                        <img role="button" class="img-fluid" src="img/social_insta.png" alt="[img: vk]" onclick="window.location.href='https://www.instagram.com/_youngeek/';"/>
                    </div>
                </div>
                +7 (916) 013-13-46<br>
                &copy; Copyright 2017 Youngeek    
            </div>
        </div>
    </div>

    <div class="text-center" style="position: absolute; right: 1.5%; bottom: .75%; width: 6%; font-size: .5em;" onclick="widnow.location.href = 'http://clent.org';">
        <img class="img-fluid my-1" src="img/clent_logo.png" alt="[img: Clent logo]"/>
        Designed by Clent
    </a>
</footer>
